<% content_for :title, "Editing funeral" %>

<h1>Editing funeral</h1>

<%= render "form", funeral: @funeral %>

<br>

<div>
  <%= link_to "Show this funeral", @funeral %> |
  <%= link_to "Back to funerals", funerals_path %>
</div>
